.mfe-c-stream-modal {
  --pf-c-modal-box__header--PaddingBottom: var(--pf-c-modal-box__header--PaddingTop);

  .pf-c-modal-box__header {
    padding-bottom: var(--pf-c-modal-box__header--PaddingBottom);
    background: var(--pf-global--BackgroundColor--dark-100);
  }

  .pf-c-modal-box__title {
    color: var(--pf-global--Color--light-100);
  }

  .pf-c-drawer {
    --pf-c-drawer__panel--after--Width: 0;
  }

  .pf-c-drawer__panel {
    background-color: var(--pf-global--BackgroundColor--200);
  }
}

.wizard-img-focus {
  outline: var(--pf-global--primary-color--100) auto 2px !important;
}

.wizard-img {
  img {
    max-width: 100%;
    height: auto;
  }
}